@model Quizz.Models.ViewModel.AuthViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userId = "";
    var userLogin = (Quizz.Common.UserLogin)HttpContext.Current.Session["account"];
    if (userLogin != null)
    {
        userId = userLogin.UserID;
    }
}

<div class="grid">
    <div class="grid__row">
        <div class="grid__col-2">
            <div class="sub-nav">
                <h2 class="sub-nav__title"><i class="fas fa-list mr-10"></i>Dashboard</h2>
                <ul class="sub-nav__list">
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("User Profile", "UserProfile", "Profile", new { id = userId }, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item  sub-nav__item--active">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Change password", "ChangePassword", "Profile", new { id = userId }, new { @class = "sub-nav__link text", @id = "defaultOpen" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Scores", "Scores", "Profile", new { id = userId }, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item sub-nav__item--active">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Test Code", "TestCodes", "Profile", new { id = userId }, new { @class = "sub-nav__link text" })
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__col-10">
            <div class="nav-content__wrapper" id="student">
                <div class="nav-content__header">
                    <div class="breadcrumb">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "breadcrumb-link" })
                        <span class="breadcrumb-separate"> > </span>
                        <span class="breadcrumb-detail"></span>
                        <span class="breadcrumb-detail">Change password</span>
                    </div>
                </div>
                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                {
                    <div class="nav-content__body-form">
                        <div class="nav-content__table-save">
                            <div style="display: flex; justify-content: space-evenly;width: 100%">
                                <div>
                                    <div class="form__group">
                                        @Html.LabelFor(m => m.Oldpassword, "Old password:")
                                        @Html.TextBoxFor(m => m.Oldpassword, new { type = "password", @class = "form__control", @placeholder = "Enter old password", @autofocus = "autofocus" })
                                        <span class="error-message">@Html.ValidationMessageFor(m => m.Oldpassword)</span>
                                    </div>
                                    <div class="form__group">
                                        @Html.LabelFor(m => m.Newpassword, "New password:")
                                        @Html.TextBoxFor(m => m.Newpassword, new { type = "password", @class = "form__control", @placeholder = "Enter new password", @autofocus = "autofocus" })
                                        <span class="error-message">@Html.ValidationMessageFor(m => m.Newpassword)</span>
                                    </div>
                                    <div class="form__group">
                                        @Html.LabelFor(m => m.Repassword, "Re-New password:")
                                        @Html.TextBoxFor(m => m.Repassword, new { type = "password", @class = "form__control", @placeholder = "Enter re-new password", @autofocus = "autofocus" })
                                        <span class="error-message">@Html.ValidationMessageFor(m => m.Repassword)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form__group-action">
                                @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn__normal mr-10" })
                                <button type="submit" class="btn__save">Save</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
