<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/base.css" rel="stylesheet" type="text/css" />
    <link href="/Content/reStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/admin.css" type="text/css">
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Assets/Fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>
        @ViewBag.Title
    </title>
</head>
<body>
    @{
        string userName = "";
        string userId = "";

        var userLogin = (Quizz.Common.UserLogin)HttpContext.Current.Session["account"];
        if (userLogin != null)
        {
            userId = userLogin.UserID;
            userName = userLogin.UserName;
        }
    }
    <div class="app">
        <header class="header__app">
            <div class="grid header__wrapper">
                <div class="header__list-icon-wrapper">
                    <button class="btn" onclick="toggleNavList()"><i class="fa fa-list text-white header__list-icon"></i></button>
                    <div class="header__nav-moblie">
                        <ul>
                            <li class="header__list-moblie-item">@Html.ActionLink("Subjects", "Index", "Home", null)</li>
                            <li class="header__list-moblie-item">@Html.ActionLink("Test", "Index", "Test", null)</li>
                        </ul>
                    </div>
                </div>
                <div class="header__logo">
                    <a href="@Url.Action("Index","Home")" class="header__logo-link">FPTUQuizz</a>
                </div>
                <ul class="header__nav-list">
                    <li class="header__nav-item header__nav-active">@Html.ActionLink("Subjects", "Index", "Home", null, new { @class = "header__item-link" })</li>
                    <li class="header__nav-item header__nav-active">@Html.ActionLink("Test", "Index", "Test", null, new { @class = "header__item-link" })</li>
                </ul>

                <div class="header__auth">
                    @if (Session["account"] == null)
                    {
                        <div class="auth__user">
                            @Html.ActionLink("Sign Up", "SignUp", "Auth", null, new { @class = "auth__user-name" })
                        </div>
                        <div Class="auth__user">
                            @Html.ActionLink("Sign In", "Login", "Auth", null, new { @class = "auth__user-name" })
                        </div>
                    }
                    else
                    {
                        <div Class="auth__user" id="authButton">
                            <img src="~/Assets/Images/user.jpg" alt="user_img" Class="auth__user-img">

                            @if (userId != "1")
                            {
                                <span Class="auth__user-name">@(@userName)</span>
                            }
                            else
                            {
                                <span Class="auth__user-name">Administrator</span>
                            }
                        </div>

                        <ul Class="auth__user-list">
                            @if (Session["account"] != null && userId == "1")
                            {
                                <li Class="auth__user-item">
                                    @Html.ActionLink("Dashboard", "Index", "Admin", null, new { @class = "auth__user-link" })
                                </li>
                            }
                            else
                            {
                                <li Class="auth__user-item">
                                    @Html.ActionLink("Student profile", "UserProfile", "Profile", new { id = userId }, new { @class = "auth__user-link" })
                                </li>
                                <li Class="auth__user-item">
                                    @Html.ActionLink("My Bank", "MyBank", "Profile", new { id = userId }, new { @class = "auth__user-link" })
                                </li>
                            }
                            <hr style="margin: 0;">
                            <li class="auth__user-item">
                                @Html.ActionLink("Log Out", "LogOut", "Auth", null, new { @class = "auth__user-link" })
                            </li>
                        </ul>

                        <script>
                            const headerUserBtn = document.querySelector('#authButton');
                            const headerUserCard = document.querySelector(".auth__user-list");
                            headerUserBtn.addEventListener("click", () => {
                                headerUserCard.classList.toggle("auth__user-open");
                            });
                            window.addEventListener("click", (e) => {
                                if (e.target != headerUserBtn && !headerUserBtn.contains(e.target))
                                    headerUserCard.classList.remove("auth__user-open");
                            })
                        </script>
                    }
                </div>
            </div>
        </header>
        @if (TempData["AlertMessage"] != null)
        {
            <div id="toastify" class="@TempData["AlertType"]">
                <div class="toast-header"><button>x</button></div>
                <div class="toast-body">
                    <span>@TempData["AlertMessage"]</span>
                </div>
            </div>
        }
        <div Class="app__container">
            @RenderBody()
        </div>
    </div>
    <Script src="~/Scripts/handleNavActive.js"></Script>
    <Script src="~/Scripts/base.js"></Script>
</body>
</html>
