<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/base.css" rel="stylesheet" type="text/css" />
    <link href="/Content/reStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/admin.css" type="text/css">
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Assets/Fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>
        @ViewBag.Title
    </title>
</head>
<body>
    <div class="app">
        <header class="header__app">
            <div class="grid header__wrapper">
                <div class="header__list-icon-wrapper">
                    <button class="btn" onclick="toggleNavList()"><i class="fa fa-list text-white header__list-icon"></i></button>
                    <div class="header__nav-moblie">
                        <ul>
                            @*  sub-nav-active-icon *@
                            <li class="header__list-moblie-item"><i class="fas fa-caret-right"></i>@Html.ActionLink("Subjects", "Index", "Home", null, new { @class = "" })</li>
                            <li class="header__list-moblie-item"><i class="fas fa-caret-right"></i>@Html.ActionLink("Test", "Index", "Test", null, new { @class = "" })</li>
                        </ul>
                    </div>
                </div>
                <div class="header__logo">
                    <a href="@Url.Action("Index","Home")" class="header__logo-link">FPTUQuizz</a>
                </div>
                <ul class="header__nav-list">
                    <li class="header__nav-item header__nav-active">@Html.ActionLink("Subjects", "Index", "Home", null, new { @class = "header__item-link" })</li>
                    <li class="header__nav-item header__nav-active">@Html.ActionLink("Test", "Index", "Test", null, new { @class = "header__item-link" })</li>
                </ul>

                <div class="header__auth">
                    <div class="auth__user">
                        @Html.ActionLink("Sign Up", "SignUp", "Auth", null, new { @class = "auth__user-name" })
                    </div>
                    <div Class="auth__user">
                        @Html.ActionLink("Sign In", "Login", "Auth", null, new { @class = "auth__user-name" })
                    </div>
                </div>
            </div>
        </header>
        @if (TempData["AlertMessage"] != null)
        {
            <div id="toastify" class="@TempData["AlertType"]">
                <div class="toast-header"><button>x</button></div>
                <div class="toast-body">
                    <span>@TempData["AlertMessage"]</span>
                </div>
            </div>
        }
        <div Class="app__container">
            @RenderBody()
        </div>
    </div>
    <Script src="~/Scripts/handleNavActive.js"></Script>
    <Script src="~/Scripts/handleVocab.js"></Script>
    <Script src="~/Scripts/base.js"></Script>
</body>
</html>
