@using PagedList.Mvc
@{
    ViewBag.Title = "Subject Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid">
    <div class="grid__row">
        <div class="grid__col-12">
            <div class="nav-content__wrapper" id="topic">
                <div class="nav-content__header">
                    <div class="breadcrumb">
                        @Html.ActionLink("Subjects", "Index", "Home", null, new { @class = "breadcrumb-link" })
                        <span class="breadcrumb-separate"> > </span>
                        <span class="breadcrumb-detail">@ViewBag.nameSubject</span>
                    </div>
                    <form class="search-form" asp-controller="Home" asp-action="Index">
                        <input type="text" class="search-form__input" placeholder="Searching..." name="search">
                        <button class="search-form__btn"><i class="fas fa-search search-form__icon"></i></button>
                    </form>
                </div>
                <div class="nav-content__body">
                    <div class="subject__list grid__row">
                        @foreach (var v in (ViewBag.listQues as PagedList.IPagedList<Quizz.Models.ViewModel.BankViewModel>))
                        {
                            <div class="grid__col_2">
                                <div class="subject-item__box">
                                    <div class="subject-item__box-content">
                                        <h1>@v.BankName</h1>
                                        <span class="subject-item__box-ques">@v.TotalQues questions</span>
                                    </div>
                                    @if (v.TotalQues != 0)
                                    {
                                        <div>
                                            @Html.ActionLink("Start", "BanksDetail", "Home", new { bank = v.BankId }, new { @class = "btn" })
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="nav-content__footer">
                    @Html.PagedListPager(ViewBag.listQues as PagedList.IPagedList<Quizz.Models.ViewModel.BankViewModel>, page => Url.Action("SubjectDetail", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>
