@using PagedList.Mvc
@{
    ViewBag.Title = "Banks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid">
    <div class="grid__row">
        <div class="grid__col-2">
            <div class="sub-nav">
                <h2 class="sub-nav__title"><i class="fas fa-list mr-10"></i>Dashboard</h2>
                <ul class="sub-nav__list">
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Students", "Index", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Subjects", "SubjectList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item sub-nav__item--active">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Banks", "BankList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Questions", "QuestionList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Tests", "TestList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Scores", "ScoreList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__col-10">
            <div class="nav-content__wrapper">
                <div class="nav-content__header">
                    <h2 class="nav-content__title">Banks</h2>
                    <div class="nav-content__action">
                        <form class="search-form mr-10" asp-controller="Admin" asp-action="TopicDetail">
                            <input type="text" class="search-form__input" placeholder="Searching..." name="search">
                            <button class="search-form__btn"><i class="fas fa-search search-form__icon"></i></button>
                        </form>
                        @Html.ActionLink("Add", "BankDetail", "Admin", new { id = -1 }, new { @class = "search-form__btn btn__second" })
                    </div>
                </div>
                <div class="nav-content__body">
                    <table class="nav-content__table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Total Question</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Enumerable.Count(ViewBag.listBank) == 0)
                            {
                                <tr>
                                    <td></td>
                                    <td colspan="2"><span style="font-size: 2rem;height: 50px;display: block;line-height: 50px;">No data</span></td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                foreach (var a in (ViewBag.listBank as PagedList.IPagedList<Quizz.Models.ViewModel.BankViewModel>))
                                {
                                    <tr id="bank@{@a.BankId}">
                                        <td>@a.BankId</td>
                                        <td>@a.BankName</td>
                                        <td>@a.Subjectname</td>
                                        <td>@a.TotalQues</td>
                                        <td>@a.AccountName</td>
                                        <td>
                                            <a href="@Url.Action("BankDetail", "Admin", new { id = a.BankId })" class="dashboard__table-action edit" title="Edit"><i class="fas fa-pen"></i></a>
                                            <a onclick="checkDelete('@a.BankId','bank')" class="dashboard__table-action delete" title="Delete"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="nav-content__footer">
                    @Html.PagedListPager(ViewBag.listBank as PagedList.IPagedList<Quizz.Models.ViewModel.BankViewModel>, page => Url.Action("BankList", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>

