@model Quizz.Models.EF.Account
@{
    ViewBag.Title = "Save Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid">
    <div class="grid__row">
        <div class="grid__col-2">
            <div class="sub-nav">
                <h2 class="sub-nav__title"><i class="fas fa-list mr-10"></i>Dashboard</h2>
                <ul class="sub-nav__list">
                    <li class="sub-nav__item sub-nav__item--active">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Students", "Index", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Subjects", "SubjectList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Banks", "BankList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                    <li class="sub-nav__item">
                        <i class="fas fa-caret-right sub-nav-active-icon"></i>
                        @Html.ActionLink("Questions", "QuestionList", "Admin", null, new { @class = "sub-nav__link text" })
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__col-10">
            <div class="nav-content__wrapper" id="student">
                <div class="nav-content__header">
                    <div class="breadcrumb">
                        @Html.ActionLink("Student list", "Index", "Admin", null, new { @class = "breadcrumb-link" })
                        <span class="breadcrumb-separate"> > </span>
                        <span class="breadcrumb-detail"></span>
                        @if (@Request.Url.Segments.Length > 3)
                        {
                            <span class="breadcrumb-detail">Update</span>
                        }
                        else
                        {
                            <span class="breadcrumb-detail">Save</span>
                        }
                    </div>
                </div>
                @using (Html.BeginForm("StudentDetail", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="nav-content__body-form">
                        <div class="nav-content__table-save">
                            <div style="display: flex; justify-content: space-evenly;width: 100%">
                                @Html.HiddenFor(m => m.account_id)
                                <div>
                                    <div class="form__group">
                                        @Html.LabelFor(m => m.full_name, "Full Name:")
                                        @Html.TextBoxFor(m => m.full_name, new { @class = "form__control", @placeholder = "Full name", @autofocus = "autofocus" })
                                    </div>
                                    <div class="form__group">
                                        @Html.LabelFor(m => m.dob, "Date of birth:")
                                        @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form__control", @autofocus = "autofocus" })
                                    </div>
                                    <div class="form__group" style="display: flex">
                                        @Html.LabelFor(model => model.gender, "Gender:")
                                        @if (@Request.Url.Segments.Length > 3)
                                        {
                                            <div class="col-md-10" style="margin-top: 10px">
                                                Male
                                                @Html.RadioButtonFor(m => m.gender, true)
                                                Female
                                                @Html.RadioButtonFor(m => m.gender, false)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-10" style="margin-top: 10px">
                                                Male
                                                @Html.RadioButtonFor(m => m.gender, true, new { @checked = true })
                                                Female
                                                @Html.RadioButtonFor(m => m.gender, false)
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div>
                                    @if (@Request.Url.Segments.Length > 3)
                                    {
                                        <div class="form__group">
                                            @Html.LabelFor(m => m.account_id, "Student Id:")
                                            @Html.TextBoxFor(m => m.account_id, new { @class = "form__control", @placeholder = "Student Id", @disabled = "true" })
                                        </div>
                                        <div class="form__group">
                                            @Html.LabelFor(m => m.role, "Role:")
                                            <div class="col-md-10" style="margin-top: 10px">
                                                Admin
                                                @Html.RadioButtonFor(model => model.role, true)
                                                Student
                                                @Html.RadioButtonFor(model => model.role, false)
                                            </div>
                                        </div>
                                        <div class="form__group">
                                            <div class="col-md-10" style="margin-top: 10px">
                                                <button type="button" class="btn btn__save" onclick="resetPassword('@Model.account_id')">Reset password</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form__group">
                                            @Html.LabelFor(m => m.username, "Username:")
                                            @Html.TextBoxFor(m => m.username, new { @class = "form__control", @placeholder = "Username" })
                                            <span style="color:red;margin-top: 10px">@Html.ValidationMessageFor(m => m.username)</span>
                                        </div>
                                        <div class="form__group">
                                            @Html.LabelFor(m => m.password, "Password:")
                                            @Html.TextBoxFor(m => m.password, new { @class = "form__control", @placeholder = "Password", @autofocus = "autofocus", type = "password" })
                                            <span style="color:red;margin-top: 10px">@Html.ValidationMessageFor(m => m.password)</span>
                                        </div>
                                        <div class="form__group">
                                            @Html.LabelFor(m => m.role, "Role:")
                                            <div class="col-md-10" style="margin-top: 10px">
                                                Admin
                                                @Html.RadioButtonFor(model => model.role, true)
                                                Student
                                                @Html.RadioButtonFor(model => model.role, false, new { @checked = true })
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form__group-action">
                                @Html.ActionLink("Back", "Index", "Admin", null, new { @class = "btn__normal mr-10" })
                                <button type="submit" class="btn__save">Save</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function resetPassword(id) {
        let answer = confirm("Do you really want to reset password of " + id);
        if (answer == true) {
            $.ajax({
                url: "/Admin/ResetPassword",
                dataType: "json",
                type: "POST",
                data: { roleNum: id },
                success: function (res) {
                    window.location.href = "/Admin/StudentDetail/" + id;
                }
            })
        }
    }

</script>

